@import "./partials/variables";

* {
  box-sizing: border-box;
}

body,
html {
  background: $bg-light-gray;
  font-family: $font;
}

main {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // padding: 5%;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: {
    left: 10 * 0.06em;
    right: 10 * 0.06em;
  }
}

.component__container {
  max-width: 375px;
  background-color: $white-color;
  padding: #{20 * 0.06}em;
  border-radius: 20px;
  text-align: center;
  box-shadow: 1px -1px 4px 0px;
}

.qr-code-img__container {
  img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
  }
}

.component__text {
  * {
    line-height: 1.6;
  }

  .component__paragraph {
    font-size: 15px;
  }
}
